.page-home {
  margin-top: 100px;

  h5 {
    font-weight: 300;
    margin-bottom: 15px;
    font-style: bold;
  }

  .store-trend-categories {
    margin-top: 100px;
  }

  .store-new-products {
    margin-top: 100px;
  }

    .review {
    margin-top: 100px;
  }

    .contact {
    margin-top: 100px;
  }

      .about {
    margin-top: 100px;


    .judul{
      h1 {
      font-weight: normal;
      font-size: 24px;
      line-height: 36px;
      color: #0c0d36;

      margin-bottom: 0px;
    }

    }

    .paragraf{
          p {
      font-weight: normal;
      font-size: 16px;
      line-height: 180%;

      color: #525252;

      margin-bottom: 20px;
    }
    }


}

  


}
